# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/

# Virtual environments
.venv/
.env/
*.env

# Streamlit
.streamlit/

# VS Code or IDE settings
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
